$primary-color: #0082fa;
$secondary-color: lightskyblue;
$background-color: #3f3f3f;
$background-color-secondary: rgba(56, 56, 56, 0.5);
$nav-color: rgba(42, 42, 42, 0.9);
$white: #fff;
$whiteish: #ddd;
$black: #000;
$blackish: #1a1a1a;
$hero-image-shadow: rgba(64, 64, 64, 0.6);
$hero-image-contact: rgba(32, 32, 32, 0.8);
